{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<google-map [center]="center">
  <!--Mettiamo un marker alle nostre coordinate-->
  <map-marker [position]="position" [label]="label" [title]="title" [options]="markerOptions">
  </map-marker>

  <map-marker [position]="position2" [options]="markerOptions2">
  </map-marker>

  <map-marker [position]="position3" [options]="markerOptions3">
  </map-marker>


  <map-circle [center]="position" [radius]="50" [options]='circleOptions'>
  </map-circle>
  <map-circle [center]="position" [radius]="100" [options]='circleOptions2'>
  </map-circle>

  <map-polygon [paths]="vertices">
  </map-polygon>

  <map-polygon [paths]="vertices2">
  </map-polygon>

</google-map>
<button (click)="purple()">purple</button>
<button (click)="green()">green</button>
<button (click)="orange()">orange</button>